[submodule "git-extras"]
	path = vendor/git-extras
	url = git://github.com/visionmedia/git-extras.git
[submodule "z"]
	path = vendor/z
	url = git://github.com/rupa/z.git
[submodule "nave"]
	path = vendor/nave
	url = git://github.com/isaacs/nave.git
[submodule "vendor/bashmarks"]
	path = vendor/bashmarks
	url = https://github.com/Bilalh/shellmarks.git
[submodule "vendor/nvm"]
	path = vendor/nvm
	url = https://github.com/creationix/nvm.git
[submodule "vendor/cert-chain-resolver"]
	path = vendor/cert-chain-resolver
	url = https://github.com/zakjan/cert-chain-resolver.git
	branch = shell
[submodule "vendor/testssl.sh"]
	path = vendor/testssl.sh
	url = https://github.com/drwetter/testssl.sh
