# Lots of junk goes in here.
/caches/
/backups/

# Top secret stuff!
/link/.ssh/authorized_keys
/link/.ssh/id_*
/link/.ssh/*rsa*
/link/.ssh/*.pem
/link/.ssh/known_hosts

# Don't commit Vim plugins, vim-plug will install them.
/link/.vim/plugged
/link/.vim/.netrwhist

# Don't commit rbenv temp files.
/link/.rbenv/shims/
/link/.rbenv/versions/
/link/.rbenv/version

#Sublime Text Ignores
conf/sublime/Package Control.merged-ca-bundle
conf/sublime/Package Control.last-run
conf/sublime/Package Control.ca-list
conf/sublime/Package Control.ca-bundle
conf/sublime/Package Control.merged-ca-bundle
conf/sublime/Package Control.system-ca-bundle
conf/sublime/Package Control.cache/
conf/sublime/Package Control.ca-certs/

#Alfred ignores
conf/alfred/Alfred.alfredpreferences/clipboard/*
conf/alfred/Alfred.alfredpreferences/workflows/user.workflow.4BF0CB2C-6CE1-4FB3-92E8-FC32D1B81387/images/*

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*
