<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>88947E09-001E-4547-BE86-8AD7A80BF07B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A7E3DC6-9EAF-4A4E-A4DE-436018040261</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Start Win7 Box</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VPN Start</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>vboxmanage startvm 9530e574-88ae-4789-9be6-79dfbee4b189</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2A7E3DC6-9EAF-4A4E-A4DE-436018040261</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vpnstart</string>
				<key>text</key>
				<string>vpnstart</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>88947E09-001E-4547-BE86-8AD7A80BF07B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2A7E3DC6-9EAF-4A4E-A4DE-436018040261</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>88947E09-001E-4547-BE86-8AD7A80BF07B</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
